GITHUB_CLIENT_ID="Iv23liw8DCEbMSLF3CpL"
GITHUB_ACCESS_TOKEN_URL="https://github.com/login/oauth/access_token"
GITHUB_AUTHORIZE_URL="https://github.com/login/oauth/authorize"
GITHUB_API_BASE_URL="https://api.github.com/"

AUTH0_CLIENT_ID="NnXoiRwneoTElLSqTR14POUAhf8evEq4"
AUTH0_DOMAIN="dev-oniwz7ya.us.auth0.com"
AUTH0_BASE_URL="https://dev-oniwz7ya.us.auth0.com"

KEYCLOAK_CLIENT_ID="account"
KEYCLOAK_DOMAIN="keycloak.staging.e-auth.cloud/realms/jprio_realm1"
